@model List<Message>
@{
	ViewData["Title"] = "Inbox";
	Layout = "~/Views/Layout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İş ve proje Deneyimleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Mesaj Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Gelen Mesajlar ile ilgili işlemleri aşağıdaki panelden yapablirsiniz.
						</div>
						<table class="table table-striped mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Gönderen</th>
									<th scope="col">Konu</th>
									<th scope="col">Tarih</th>
									<th scope="col">Mesajı Aç</th>
									<th scope="col">Durumu Değiştir</th>
									<th scope="col">Sil</th>
									<th scope="col">Güncelle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{

									<tr>
										<td>@item.MessageID</td>
										<td>@item.MessageNameSurname</td>
										<td>@item.MessageSubject</td>
										<td>@item.MessageSendDate.ToShortDateString()</td>
										<td><a href="/Message/@item.MessageID" class="btn btn-primary">Mesajı Aç</a></td>
										@if (item.IsRead == true)
										{
											<td><a href="/Message/ChangeIsReadToFalse/@item.MessageID" class="btn btn-secondary">Okunmadı</a></td>
										}
										else
										{
											<td><a href="/Message/ChangeIsReadToTrue/@item.MessageID" class="btn btn-info">Okundu</a></td>
										}
										<td><a href="/Message/DeleteMessage/@item.MessageID" class="btn btn-danger">Sil</a></td>
										<td><a href="/Message/UpdateMessage/@item.MessageID" class="btn btn-success">Güncelle</a></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

