@model Experience
@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/Layout/Index.cshtml";
}

}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İş ve proje Deneyimleri</h4>
		<div class="row">
			<div class="col-md-12">


				<div class="card">
					<div class="card-header">
						<div class="card-title">Deneyim Ekleme Sayfası</div>
					</div>
					<div class="card-body">
						<form method="post">
							<input type="hidden" asp-for="ExperienceID" />
							<label>Deneyim Başlığı & Firma Bilgisi</label>
							<input type="text" asp-for="ExperienceHead" class="form-control" />
							<br />
							<label>Çalışılan Pozisyon</label>
							<input type="text" asp-for="ExperienceTitle" class="form-control" />
							<br />
							<label>Tarih Aralığı</label>
							<input type="text" asp-for="ExperienceDate" class="form-control" />
							<br />
							<label>Açıklama</label>
							<textarea rows="5" class="form-control" asp-for="ExperienceDescription"></textarea>
							<br />
							<button class="btn btn-primary">Deneyim Ekle</button>
						</form>

					</div>
				</div>
			</div>
		</div>
