<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Öznur Söğüt
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">Profilim</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse"> Şifre Değiştir</span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <span class="link-collapse">Ayarlar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a href="/Statistic/">
                    <i class="la la-home"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Experience/ExperienceList">
                    <i class="la la-building-o"></i>
                    <p>İş ve Proje Deneyimleri</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/forms.html">
                    <i class="la la-bullhorn"></i>
                    <p>Öne Çıkanlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/tables.html">
                    <i class="la la-suitcase"></i>
                    <p>Portfolyo</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/notifications.html">
                    <i class="la la-trophy"></i>
                    <p>Yeteneklerim</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/typography.html">
                    <i class="la la-registered"></i>
                    <p>Referanslarım</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/icons.html">
                    <i class="la la-globe"></i>
                    <p>Sosyal Medya</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/icons.html">
                    <i class="la la-bar-chart"></i>
                    <p>İstatistikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/icons.html">
                    <i class="la la-comments"></i>
                    <p>Gelen Kutusu</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/icons.html">
                    <i class="la la-exclamation-circle"></i>
                    <p>Hakkımda</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/icons.html">
                    <i class="la la-phone-square"></i>
                    <p>İletişim</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Ready-Bootstrap-Dashboard-master/icons.html">
                    <i class="la la-sign-out"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
        </ul>
    </div>
</div>
