@model List<ToDoList>
@{
    ViewData["Title"] = "ToDoListIndex";
    Layout = "~/Views/Layout/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Yapılacaklar</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Yapılacaklar Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							
						</div>
						<table class="table table-striped mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Görsel</th>
									<th scope="col">Görev Başlığı</th>
									<th scope="col">Tarih</th>
									<th scope="col">Durumu Değiştir</th>
									<th scope="col">Sil</th>
									<th scope="col">Güncelle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<td>@count</td>
										<td><img src="@item.ToDoListImageUrl" alt="Image" width="50" height="50" class="rounded-1" /></td>
										<td>@item.ToDoListName</td>
										<td>@item.ToDoListDate.ToShortDateString()</td>
										@if (item.ToDoListStatus == true)
										{
											<td><a href="/ToDoList/StatusFalse/@item.ToDoListID" class="btn btn-info">Görev Tamamlandı</a></td>
										}
										else
										{
											<td><a href="/ToDoList/StatusTrue/@item.ToDoListID" class="btn btn-secondary">Görev Beklemede</a></td>
										}
										<td><a href="/ToDoList/DeleteToDoList/@item.ToDoListID" class="btn btn-danger">Sil</a></td>
										<td><a href="/ToDoList/UpdateToDoList/@item.ToDoListID" class="btn btn-success">Güncelle</a></td>
									</tr>
								}
							</tbody>
						</table>
						
								
					</div>
				</div>

			</div>
		</div>
		<a href="/ToDoList/CreateToDoList/" class="btn btn-info">Yeni Görev Ekle</a>
	</div>
</div>
								

