@model ToDoList
@{
    ViewData["Title"] = "UpdateToDoList";
    Layout = "~/Views/Layout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Yapılacaklar</h4>
		<div class="row">
			<div class="col-md-12">


				<div class="card">
					<div class="card-header">
						<div class="card-title">Görev Güncelleme Sayfası</div>
					</div>
					<div class="card-body">
						<form method="post">
							<input type="hidden" asp-for="ToDoListID" />
							<label>Başlık & İçerik </label>
							<input type="text" asp-for="ToDoListName" class="form-control" />
							<br />
							<label>Tarih</label>
							<input type="date" asp-for="ToDoListDate" class="form-control" />
							<br />
							<label>Resim Yolu</label>
							<input type="title" class="form-control" asp-for="ToDoListImageUrl" />
							<br />
							<button class="btn btn-primary">Görevi Güncelle</button>
						</form>

					</div>
				</div>
			</div>
		</div>
