<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeadComponentPartial")
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_LayoutNavbarComponentPartial")
        @await Component.InvokeAsync("_LayoutSidebarComponentPartial")

        <div class="main-panel">

        <!--Bu sayfaya bağlı olarak gelecek olan sayfaların yer alacağı kısmı belirtir-->
        @RenderBody()
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="https://localhost:7192/Default/Index">
									Portfolio
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Help
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://themewagon.com/license/#free-item">
									Licence
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
						@DateTime.Now.Year, made with <i class="la la-heart heart text-danger"></i> by <a href="http://www.themekita.com">Asp.Net Core 6.0</a>
					</div>
				</div>
			</footer>

        </div>
    </div>
</body>
@await Component.InvokeAsync("_LayoutScriptComponentPartial")
</html>