@model About
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/Layout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Hakkımda</h4>
		<div class="row">
			<div class="col-md-12">


				<div class="card">
					<div class="card-header">
						<div class="card-title">Hakkımda Güncelleme Sayfası</div>
					</div>
					<div class="card-body">
						<form method="post">
							<input type="hidden" asp-for="AboutID" />
							<label>Başlık</label>
							<input type="text" asp-for="AboutTitle" class="form-control" />
							<br />
							<label>Alt Başlık/Açıklama</label>
							<input type="text" asp-for="AboutSubDescription" class="form-control" />
							<br />
							<label>Detay/Hakkımda Bilgisi</label>
							<textarea rows="5" class="form-control" asp-for="AboutDetails"></textarea>
							<br />
							<button class="btn btn-primary"> Güncelle</button>
						</form>

					</div>
				</div>
			</div>
		</div>
